<footer class="footer-32892 pb-0">
    <div class="site-section">
    <div class="container">
    <div class="row">
    <div class="col-md pr-md-5 mb-4 mb-md-0">
    <h3>About Us</h3>
    <p class="mb-4">This platform is dedicated to people who are interested in software. You can ask questions about errors you get while writing code or about a topic you are curious about. You can also write article about your knowledge.</p>
    <ul class="list-unstyled quick-info mb-4">
    <li><a href="#" class="d-flex align-items-center"><i class="fas fa-phone" style="margin-right: 5px;"></i> +90 541 653 2083</a></li>
    <li><a href="#" class="d-flex align-items-center"><i class="fas fa-envelope" style="margin-right: 5px;"></i> <span class="__cf_email__" data-cfemail="b3daddd5dcf3d4ded2dadf9dd0dcde">cancumayamann@gmail.com</span></a></li>
    </ul>
    <form action="#" class="subscribe">
    <input type="text" class="form-control" placeholder="Enter your e-mail">
    <input type="submit" class="btn btn-submit" value="Send">
    </form>
    </div>
    <div class="col-md mb-4 mb-md-0">
    <h3>Latest Tweet</h3>
    <ul class="list-unstyled tweets">
    <li *ngFor="let question of questions | slice:-4" class="d-flex">
    <div class="mr-4"><i class="fas fa-question"></i></div>
    <div>{{question.title}}</div>
    </li>
    
    </ul>
    </div>
    <div class="col-md mb-4 mb-md-0">
    <h3>Latest Articles</h3>
    <ul class="list-unstyled tweets">
        <li *ngFor="let question of questions | slice:-4" class="d-flex">
        <div class="mr-4"><i class="fas fa-newspaper"></i></div>
        <div>{{question.title}}</div>
        </li>
        
        </ul>
    </div>
    <div class="col-12">
    <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
    <ul class="list-unstyled footer-menu mr-auto">
    <li><a href="#">Home</a></li>
    <li><a href="#">Questions</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    <div class="site-logo-wrap ml-auto">
    <a href="#" class="site-logo">
    Can Cuma YAMAN
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>