<div class="d-flex justify-content-end mt-3">
    <button class="btn btn-info text-right" routerLink="addArticle">Write Article</button>
  </div>
  
  <header class="mt-3">
 
    <div class="row">
    
       <div *ngFor="let article of articles" class="card col-md-4" style="width: 18rem;border: 0;">
        <img class="card-img-top" src="../../../assets/article.jpg" style="object-fit:fill;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{article.topic}}</h5>
          <p class="card-text">{{article.title}}</p>
        </div>
       
        <div class="card-body">
          <a href="#" class="btn btn-primary" routerLink="{{article.id}}">Go details</a>
        </div>
      </div>
    
  </div>
  </header>